/* main: ../../css/style.scss*/

.noi-wrapper-carousel,
.sa-wrapper-carousel {
  .noi-intro,
  .sa-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;

    .intro-title {
      background: $orange;
      font-size: 40px;
      font-weight: bolder;
    }

    .intro-text {
      font-size: 14px;
    }
  }
}

.noi-description,
.sa-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;

  > .intro-title {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 10px solid $orange;
  }

  > .intro-desc {
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #ececec;
    column-count: 3;
    column-gap: 30px;
    column-rule: 1px solid #d2d2d2;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -moz-column-rule: 1px solid #d2d2d2;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -webkit-column-rule: 1px solid #d2d2d2;
  }
}